/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

:root {
  --fundo-principal: #f5f5f5 ;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* parte basica da configuração geral*/
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}
header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
nav#menu ul{
  display: flex;
  list-style-type: none;
  gap: 10px;
}

nav#menu  a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  border-radius: 5px;
  padding: 12px 15px;
  transition: background-color .5s, color .5s;
}

nav#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  
}